<div class="row">
    <div class="col-6">
        <app-dona [data]="data[0]" [labels]="labels[0]" [titulo]="titulo[0]"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [data]="data[1]" [labels]="labels[1]" [titulo]="titulo[1]"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona [data]="data[2]" [labels]="labels[2]" [titulo]="titulo[2]"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [data]="data[3]" [labels]="labels[3]" [titulo]="titulo[3]"></app-dona>
    </div>
</div>